
[hub]
protocol = https

[core]
	excludesfile = /opt/boxen/config/git/gitignore

[credential]
helper = /opt/boxen/bin/boxen-git-credential
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[user]
	name = Søren Brokær
	email = root@srn.io
[color]
	ui = true
