[core]
	excludesfile = /Users/srn/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[user]
	name = Søren Brokær
	email = root@srn.io
[alias]
	s = status
	p = push --tags
	r = reset --soft HEAD~1
[branch]
	autosetuprebase = always
